<!-- sa bg-dark promenili na bg-primary -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Dating app</a>

    <ul class="navbar-nav mr-auto">
      <!-- ng-container je element koji se ne iscrtava na strani, mozemo ga koristiti da prikazemo ili sakrijemo nesto, a spolja mozemo ostaviti neke li elemente da se vide(recimo) -->
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a
            routerLink="/members"
            class="nav-link"
            aria-current="page"
            routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/lists" class="nav-link" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/messages"
            class="nav-link"
            tabindex="-1"
            routerLinkActive="active"
            aria-disabled="true"
            >Messages</a
          >
        </li>

        <!-- <li class="nav-item" (click)="logout()">
        <a class="nav-link" tabindex="-1" aria-disabled="true">Logout</a>
      </li> -->
      </ng-container>

      <li class="nav-item">
        <a
          routerLink="/error-tests"
          class="nav-link"
          tabindex="-1"
          routerLinkActive="active"
          aria-disabled="true"
          >Test errors</a
        >
      </li>
    </ul>

    <!-- as user nam omogucava bukvalno definisanje promenljive u html, kasnije mozemo koristiti user dot atribut notaciju -->
    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <img src="{{ user.photoUrl }}" alt="{{ user.username }}" />
      <a class="dropdown-toggle text-light ml-2" dropdownToggle>
        <!-- titlecase je mogucnost async pipe-a i povecava prvo slovo automatski -->
        Welcome {{ user.username | titlecase }}
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        class="form-control mr-sm-2"
        name="username"
        [(ngModel)]="model.username"
        type="text"
        placeholder="Username"
      />
      <input
        class="form-control mr-sm-2"
        name="password"
        [(ngModel)]="model.password"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
</nav>
