.dropdown-toggle,
.dropdown-item,
.container li {
  cursor: pointer;
}
.active {
  background-color: rgb(0, 0, 0) !important;
  font-weight: bold;
}
img {
  max-height: 50px;
  border: 2px solid #fff;
  display: inline;
}
